name: Close PR (if compiled file(s) are touched)
permissions:
  pull-requests: write
  contents: read

on:
  pull_request_target:
    branches:
      - master
    types: [opened, reopened, synchronize]
    paths:
      - 'communicate-on-pull-request-merged/lib/**'
      - 'communicate-on-pull-request-released/lib/**'
      - 'fastlane-env-reminder/lib/**'
      - 'lock/lib/**'

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - name: Close Pull Request
        run: |
          gh pr close ${{ github.event.number }} --comment "Due to security precautions - only the CI system can adapt the compiled (lib/*) files. Please re-open the PR without these changes." --delete-branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
